table{
    border-spacing: 30px;
    position: relative;
    left:330px;
}
.footer{
    text-align: center;
    padding: 3px;
    background-color: rgb(131, 99, 88);
    color: white; 
    margin-top: 75px;      
}
.label{
    color:aliceblue
}